@font-face {
    font-family: 'DK'; /*a name to be used later*/
    src: url('../fonts/DK.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Roboto-Thin'; /*a name to be used later*/
    src: url('../fonts/Roboto-Thin.ttf'); /*URL to font*/
}
body {
  background-color: #FFF; 
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
}

a.mdl-badge {
	font-style: normal;
	color: white;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
}

/* Header / Navigation bar */

.mdl-layout__header {
  background-color: gray;
}

.mdl-badge[data-badge]:after {
  background: red;
}

.mdl-layout-title {
  font-family: 'DK';
  font-size: 28px;
}

.mdl-layout-title-mini {
    display: block;
    position: relative;
    font-family: 'Roboto-Thin';
    font-size: 16px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 100;
    box-sizing: border-box;
}

/* Content / Container / Main */

.mdl-cell.mdl-cell--8-col.mdl-containter {
  margin-top: 20px;
  margin-bottom: 20px;
  align-content: center;
  align-items: center;
  text-align: center;
}

.mdl-card-align-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  min-height: 200px;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}

/* Cards */
  .card-wide.mdl-card {
    width: 512px;
  }
  .card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: gray;
  }
  .card-wide > .mdl-card__menu {
    color: #fff;
  }

/* Footer */

.docs-footer.mdl-mini-footer .social-btn {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.docs-footer.mdl-mini-footer ul>a {
  margin: 0 8px;
  font-weight: 400;
  font-size: 12px;
}
.docs-text-styling a {
  text-decoration: none;
}

.docs-footer.mdl-mini-footer ul {
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.docs-footer.mdl-mini-footer, .docs-footer.mdl-mini-footer ul {
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.docs-layout ul {
  list-style-type: none;
}